body {
    padding: 60px;
    font-family: 'Open Sans', sans-serif;
}

label {
    display: inline-block;
    min-width: 100px;
    padding-right: 20px;
}

form div {
    margin-bottom: 20px;
}

button {
    background-color: #19D374;
    border: none;
    color: white;
    font-size: 1rem;
    height: 50px;
    padding: 0 20px;
}

input[type="email"],
input[type="text"] {
    font-size: 1rem;
    min-width: 200px;
    padding: 5px;
}

button:hover {
    background-color: #14A55B;
}